<section data-ng-controller="EventosController">
    <div class="page-header">
        <h1>Registrar Evento</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Nombre</label>

                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Nombre"
                               required>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="control-label" for="objectives">Objetivos</label>

                    <div class="controls">
                        <textarea data-ng-model="objectives" id="objectives" class="form-control" placeholder="Objetivos" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>