<section data-ng-controller="EventosController" data-ng-init=" findView()">
    <div class="bs-callout bs-callout-info" id="callout-type-dl-truncate">
        <h1>
            {{evento.name}}
            <button ng-class="evento.approved == 'APROBADO' ? ' disabled pull-right btn btn-default btn-success': 'pull-right btn btn-default btn-danger'"  ng-click="aprobar()">
                <span ng-class="evento.approved == 'APROBADO' ?'glyphicon glyphicon-ok':'glyphicon glyphicon-exclamation-sign'" aria-hidden="true"></span>
                Aprobar Evento
            </button>
        </h1>
        <h5><span class=" label label-success">{{evento.date | date:'medium'}}</span> <span class="label label-info">{{evento.approved[0]}}</span>
        </h5>

        <div class="row">
            <div class="col-md-6"><h4>Se lo va a realizar en: </h4>

                <p>{{evento.place}}</p>
                <h4>Tiene como objetivo:

                </h4>

                <p>{{evento.objectives}}</p></div>
            <div class="col-md-6">
                <h4>Actividades a realizarse:</h4>
                <ul>
                    <li  ng-repeat="ac in evento.actividades">{{ac}}</li>
                </ul>
            </div>
        </div>
        <hr/>


        <div ng-show="comitesevent.length">
            <h4>Comités Encargados  <button class=" pull-right btn btn-default btn-warning" ng-click="open()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Agregar Comité
            </button>
                </h4>
            <br/>

            <table ng-table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nombre Comité</th>
                </tr>
                </thead>
                <tr ng-repeat="comit in comitesevent">
                    <td data-title="Nombre">{{comit.name}}</td>

                </tr>
            </table>
        </div>
        <div ng-show="!comitesevent.length" class="well bs-dropzone" ng-click="open()"
             style="border:none; cursor: pointer;">
            <div class="import-header">
                <span class="glyphicon glyphicon-tower" style="font-size: 100px;" aria-hidden="true"></span>
            </div>
            <p class="lead">No hay comités</p>
        </div>


    </div>

</section>
