<style>
    body {
        padding: 15px;
    }

    .select2 > .select2-choice.ui-select-match {
        /* Because of the inclusion of Bootstrap */
        height: 29px;
    }

    .selectize-control > .selectize-dropdown {
        top: 36px;
    }
</style>
<section data-ng-controller="ComitesController" ng-init="findEvents()">
    <div class="page-header">
        <h1>Registrar Comité</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <div class="form-group">
                <label class="col-sm-2 control-label">Evento</label>

                <div class="col-sm-10">
                    <ui-select ng-disabled=false ng-model="event.selected" style="width: 300px;">
                        <ui-select-match placeholder="Seleccione un evento">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="event in eventos | filter: $select.search">
                            <span ng-bind-html="event.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">Nombre</label>

                <div class="col-sm-10">
                    <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Nombre"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="is_organizer">Es Organizador</label>

                <div class="col-sm-10">
                    <button type="button" ng-class="is_organizer ? 'btn btn-primary ' : 'btn btn-danger'"
                            id="is_organizer" ng-model="is_organizer" btn-checkbox btn-checkbox-true=true
                            btn-checkbox-false=false>
                        {{is_organizer ? "SI": "NO"}}
                    </button>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Guardar" class="btn btn-default">
                </div>
            </div>

            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</section>

